.percents {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (min-width: 375px) {
  .percents {
    grid-template-columns: repeat(3, 1fr);
  }
}
